name: Build and Push to Docker Hub

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push microservice-1 image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/microservice-1:latest ./applications/microservice-1
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/microservice-1:latest
